@import url("/fonts/batmfa__.ttf");
@import url("/fonts/batmfo__.ttf");

/* 
    Alteração feita - Por Luiz Fernando Thomaz 
    Onde está escrito "mytypeface" - foi um nome de exemplo que coloquei,
    mais você pode mudar.

    - Temos um ponto:
    1. Lá no Html, a importação para o css, não estava correta por isso não era encontrado as mudanças que tu
    fez dentro desse arquivo
*/
* {
  margin: 0;
  font-family: mytypeface;
}

@font-face {
  font-family: "mytypeface";
  src: url("/fonts/batmfa__.ttf") format("batmfa");
  src: url("/fonts/batmfo__.ttf") format("batmfo");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "mytypeface";
}

* {
  /*cores da página */
  --background: #ffffff;
}

* {
  margin: 0;
  font-family: "Akaya Telivigala", cursive;
}

h2 {
  font-size: 30px;
}

/*navbar*/
#navbar {
  background-color: black;
  color: #fff;
  padding: 0 15px;
  height: 60px;
}

#navbar h2, 
#navbar ul, 
#navbar-list li, 
#navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 50px;
}

#navbar img {
    height: 35px;
    position: absolute;
    top: 3px;
}

#navbar nav {
  float: right;
}

#navbar ul {
  margin-top: 22px;
}

#navbar li {
  margin: 0 10px;
}

#navbar-list li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

#navbar-list li a:hover {
    background-color: var(--amarelobatman);
    font-style: bold;
    color:black;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
}

/*banner*/
#main-banner {
    height: 70vh;
    background-image:url("../personalsite/images/city.jpeg") ;
    background-size: cover;
    padding-top: 15vh;
}

#banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    padding: 50px;
}

.text-animation {
    color:#ffff00;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
    


#banner-info img {
    height: 120px;
    border-radius: 60%;
    background-color: blanchedalmond;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*efeito zoom na imagem*/
#banner-info img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#banner-info p {
    background-color: rgb(14, 13, 13);
    font-weight: bold;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px
    
}

#banner-info p:hover {
    background-color: var(--amarelobatman);
    color: black;
    transition: .3s;
}

/*about*/

#about-section {
    text-align: center;
    background-color: var(--amarelobatman);
    color:black;
    padding-top: 50px;
    height: 350px;
}

#about-section h2 {
    margin: bottom 20px;
}

#about-section p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
}

/*skills*/

#skills-section {
    margin-top: -100px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}


#skills-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.central {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
}

.skills-container h3 {
    color:rgb(14, 13, 13);
    font-size: 20px;
}

.skills-container img {
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 1px solid var(--amarelobatman);
    border-left: 1px solid var(--amarelobatman);
    border-bottom: 4px solid var(--amarelobatman);
    border-right: 4px solid var(--amarelobatman);
}


.skills-container img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.skills-container .subtitle {
    font-weight: bold;
    color: rgb(14, 13, 13);
    margin-top: 50px;
    margin-bottom: 15px;
}

.skills-container p {
    line-height: 25px;
}

/*jobs*/

#jobs-section {
    text-align: center;
    padding-top: 50px;
}

#jobs-section h2 {
    color: black;
    margin-bottom: 30px;
}


#jobs-section p {
    margin-bottom: 50px;
}

#jobs-section a {
    font-weight: bold;
    color: red;
}

.job-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.job-box {
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    background-size: cover;
    border-right: 2px solid var(--amarelobatman);
    border-left: 2px solid var(--amarelobatman);
}

.proj1 {
    background-image: url('../personalsite/images/batmanfight.jpg');
}

.proj2 {
    background-image: url('../personalsite/images/batmanfight.jpg');
}

.proj3 {
    background-image: url('../personalsite/images/batmanfight.jpg');
}


/*footer*/

footer {
    padding: 50px 0;
    background-color: var(--amarelobatman);
    color:black;
    text-align: center;
}

footer img {
    height: 50px;
    margin: 30px 0;
}

footer p {
    margin-top: 25px;
}

footer form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer input, 
footer textarea {
border: none;
padding: 15px;
box-sizing: border-box;
margin-bottom: 20px;
width: 100%;
display: block;
}

footer .details {
    font-weight: bold;
}


/*responsive mobile*/

@media(max-width: 450px) {
    p, input, textarea {
        font-size: 1.2rem;
    }
    #navbar h2 {
        display:none;
    }
    #navbar img {
        top: 9px;
    }
    #navbar ul {
        margin-top: 1.1rem;
    }
    #main-banner {
        height: 40vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }
    #banner-info {
        width: 60%;
    }
    #banner-info p {
        margin: 0;
        width: auto;
    }
    #about-section {
        padding: 2rem;
        height: auto;
        padding-bottom: 50px;
    }
    #skills-section {
        margin-top:  -35px;
        width: 90%;
    }
    #skills-section .container {
        flex-direction: column;
    }
    
    .skills-container h3, .skills-container .subtitle {
        font-size: 1.3rem;
    }

    .skills-container {
        padding: 25px
    }
    
    .skills-container .central {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    
    #jobs-section h2,
    #jobs-section p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .job-container {
        flex-direction: column;
        margin-bottom: 0;
    }
    .job-box {
        margin-bottom: 2rem;
        flex: 1 1 300px;
    }
    footer {
        padding: 50px 15px;
    }
    footer form {
        width: 100%
    }
    .details {
        margin-top: 10px;
        display: block;
    }
}
















/*

.frames-container {
    display: flex;
    flex-direction: row-reverse;
}



body{
    background-color: var(--background);
    align-items: center;
    text-align: center;
    margin-top: 80px;
   ;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}
*/

#button-click {
  text-align: center;
  margin-top: 25px;
  align-items: center;
  background: red;
  transition: initial;
  cursor: pointer;
}

#button-click:hover {
  background-color: royalblue;
}
