*{
    margin:0;
    font-family: 'batman';
}

/*alterações de fonte feitas por Luiz Fernando Thomaz */
@font-face {
    font-family: "batman";
    src: url("fonts/batmfa__.ttf") format("batmfa");
    src: url("fonts/batmfo__.ttf") format("batmfo");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'batman';
}

*{ /*cores da página */
    --background: #ffffff;
    --amarelobatman: #ffff00;
}

h2 {
    font-size: 30px;
}

/*navbar*/
#navbar {
    background-color: black;
    color: #fff;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, 
#navbar ul, 
#navbar-list li, 
#navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 50px;
}

#navbar img {
    height: 40px;
    position: absolute;
    top: 3px;
}

#navbar nav {
    float: right;
    
}

#navbar ul {
    margin-top: 22px;
}


#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}


#navbar-list li a:hover {
    background-color: var(--amarelobatman);
    font-style: bold;
    color:black;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
}

/*banner*/
#main-banner {
    height: 70vh;
    background-image:url("../personalsite/images/city.jpeg") ;
    background-size: cover;
    padding-top: 15vh;
}

#banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    padding: 50px;
}

#banner-info img {
    height: 120px;
    border-radius: 60%;
    background-color: blanchedalmond;
    margin-top: 30px;
    margin-bottom: 30px;
}

#banner-info p {
    background-color: rgb(14, 13, 13);
    font-weight: bold;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px
    
}

#banner-info p:hover {
    background-color: var(--amarelobatman);
    color: black;
    transition: .3s;
}












/*
body{
    background-color: var(--background);
    align-items: center;
    text-align: center;
    margin-top: 80px;
   ;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}
*/


#button-click {
    text-align: center;
    margin-top: 25px;
    align-items: center;
    background: red;
    transition: initial;
    cursor: pointer;
}

#button-click:hover{
    background-color: royalblue;
}